<#assign title="流程">
<#include "/common/head.ftl">

<div class="easyui-layout" data-options="fit:true">
 	<div data-options="region:'north',border:false,minHeight:45," style="padding:5px 0px 5px 0px">
		<div style="padding:5px;height:85px;background:#fafafa;border:1px solid #ccc">
		    <table border="0" >
		 			<tr>
		   				<td align="right" style="white-space:nowrap">创建时间：</td>
		    			<td> 
		    			 	<input id="startCreateTime-${rand}" type="text" class="easyui-my97" readonly="readonly" name="startCreateTime_d"
    								data-options="dateFmt:'yyyy-MM-dd',width:130,required:false,maxDate:'#F{$dp.$D(\'endCreateTime-${rand}\')}'"/>
		   				</td>
		   				<td align="center" style="width:30px; white-space:nowrap;">-</td>
		   				<td> 
    			 			<input id="endCreateTime-${rand}" type="text" class="easyui-my97" readonly="readonly" name="endCreateTime_d"
    								data-options="dateFmt:'yyyy-MM-dd',width:130,required:false,minDate:'#F{$dp.$D(\'startCreateTime-${rand}\')}'"/>
		   				</td>
		   				<td align="right" style="white-space:nowrap; padding-left:12px;">流程实例编号：</td>
		   				<td >
		   				 	<input id="processInstanceId-${rand}" style="width:148px;;" class="easyui-textbox" type="text" name="processInstanceId" data-options=""></input>
		   				</td>
		   				<td   align="left" style="white-space:nowrap;padding-left:12px;">
		   					<a href="javascript:void(0)" id="search_btn-${rand}" class="easyui-linkbutton" iconCls="icon-search">查询</a>
		   					<a href="javascript:void(0)" id="reset_btn-${rand}" class="easyui-linkbutton" iconCls="icon-reload">重置</a>
		   				</td>
		 			</tr>
		 			<tr>
		 				<td align="right" style="white-space:nowrap">完成时间：</td>
		    			<td> 
		   					<input id="startFinishTime-${rand}" type="text" class="easyui-my97" readonly="readonly" name="startFinishTime_d"
    								data-options="dateFmt:'yyyy-MM-dd',width:130,required:false,maxDate:'#F{$dp.$D(\'endFinishTime-${rand}\')}'"/>
		   				</td>
		   				<td align="center" style="width:30px; white-space:nowrap;">-</td>
		   				<td> 
    			 			<input id="endFinishTime-${rand}" type="text" class="easyui-my97" readonly="readonly" name="endFinishTime_d"
    								data-options="dateFmt:'yyyy-MM-dd',width:130,required:false,minDate:'#F{$dp.$D(\'startFinishTime-${rand}\')}'"/>
		   				</td>
						<td align="right" style="white-space:nowrap">状态：</td>
		    			<td> 
		    			 	<input id="processStatus-${rand}" style="width:154px;" class="easyui-combobox" type="text" name="processStatus" 
		    			 		data-options="
									valueField: 'label',
									textField: 'value',
									data: [{
										label: '',
										value: '--请选择--'
									},{
										label: '1',
										value: '运行中'
									},{
										label: '2',
										value: '已完成'
									},{
										label: '6',
										value: '审批未通过'
									},{
										label: '5',
										value: '已作废'
									}]"/>
		   				</td>
		   				<td   align="left" style="white-space:nowrap;padding-left:12px;">
		   					<a id="export_btn-${rand}" href="javascript:void(0);" class="easyui-linkbutton"  data-options="iconCls:'icon-down_load'">导出</a>
		   				</td>
		 			</tr>
		 			<tr>
		 				<td align="right" style="white-space:nowrap; padding-left:12px;">员工编号：</td>
		 				<td><input id="empId-${rand}" style="width:148px;;" class="easyui-textbox" type="text" name="empId" data-options=""></input></td>
		 				<td align="right" style="white-space:nowrap; padding-left:12px;">员工姓名：</td>
		 				<td><input id="userName-${rand}" type="text"  style="width:148px;;" class="easyui-textbox"  name="userNameName"/></td>
		   				<td align="right" style="white-space:nowrap; padding-left:12px;">部门：</td>
		   				<td >
		   				 	<input id="depa-${rand}" style="width:148px;;" class="easyui-textbox" type="text" name="depaName" data-options=""></input>
		   				</td>
		 			</tr>
			</table>
		  </div>
	 </div>
	
	
	<div data-options="region:'center',border:false" style="padding:0px 0px 0px 0px;">
		<div id="monitorTaskGrid-${rand}"></div>
	</div>

 </div>
 
 
 <script type="text/javascript">
$('#monitorTaskGrid-${rand}').datagrid({
  fitColumns:true,
  url:'taskmonitor/getAllAccountHandelProcess.json',
  columns:[[
  	{field:'processInstanceId',title:'流程实例编号',checkbox:false,width:100,align:'center'},
  	{field:'depa',title:'部门',width:90,align:'center'},
  	{field:'empId',title:'员工编号',width:70,align:'center'},
	{field:'name',title:'姓名',width:70,align:'center'},
	{field:'job',title:'职位',align:'center',width:80},
	{field:'entryDate',title:'入职日期',width:110,align:'center'},
	{field:'education',title:'学历',width:110,align:'center'},
	{field:'applyDate',title:'申请日期',width:70,align:'center'},
	{field:'startTime',title:'创建时间',width:110,align:'center'},
	{field:'endTime',title:'完成时间',width:110,align:'center'},
	{field:'processStatus',title:'流程状态',width:50,align:'center',
		formatter: function(value,row,index){
			if(value == 1){
				return '<span style=\"color:red\">运行中</span>';
			} else if (value == 2) {
				return '<span style=\"color:blue\">已完成</span>';
			} else if (value == 3) {
				return '<span style=\"color:#005831\">已挂起</span>';
			} else if (value == 4) {
				return '<span style=\"color:#c88400\">已激活</span>';
			} else if (value == 5) {
				return '<span style=\"color:#840228\">已作废</span>';
			} else if (value == 6) {
				return '<span style=\"color:#D2691E\">审批未通过</span>';
			} else {
				return '<span style=\"color:#008792\">未知状态</span>';
			}
		}
	},
  	{field:'actName',title:'任务名称',width:80,align:'center'},
  	{field:'checkUserName',title:'审批人',width:80,align:'center'}
  ]],
  nowrap: true,       
  fit : true,
  border : true,
  pagination:true,
  singleSelect:true,
  rownumbers:true,
  pageNumber : 1,
  pageSize : 20,
  toolbar: [{
		text : '流转详情',
		iconCls: 'icon-history',
		handler: viewHisProcss${rand}
	  }],
 onDblClickRow:function(rowIndex, rowData){
		 viewHisProcss${rand}();
	 }
});
//查看历史
function viewHisProcss${rand}(){
  var row = $('#monitorTaskGrid-${rand}').datagrid('getSelected');
  if (row){
	viewHisProcess${rand}(row.processInstanceId);
  } else {
	$.messager.show({
	  title: '信息提示',
	  msg: "请选择记录！"
	});
  }
}
function viewHisProcess${rand}(processInstanceId){
	$('<div id="hisWin-${rand}"></div>').dialog({
	    title: '流程历史',
	    width: 1000,
	    height: 550,
	    closed: false,
	    cache: false,
	    href: 'workspace/viewHistory.html?processInstanceId=' + processInstanceId,
	    modal: true,
	    resizable:true,
	    onClose: function(){
	    	$(this).dialog('destroy');
	    }
	});
}
//查询按钮
$('#search_btn-${rand}').bind('click', function(){
    var startCreateTime = $('#startCreateTime-${rand}').val();
	var endCreateTime = $('#endCreateTime-${rand}').val();
	var processInstanceId = $('#processInstanceId-${rand}').val();
	var depa = $('#depa-${rand}').val();
	var startFinishTime = $('#startFinishTime-${rand}').val();
	var endFinishTime = $('#endFinishTime-${rand}').val();
	var engineerName = $('#engineerName-${rand}').val();
    var empId=$('#empId-${rand}').val();
    var processStatus = $('#processStatus-${rand}').combobox('getValue');
    
    var userName=$('#userName-${rand}').val();
	$('#monitorTaskGrid-${rand}').datagrid('reload',
		{
			startCreateTime_d:startCreateTime,
			endCreateTime_d:endCreateTime,
			processInstanceId:processInstanceId,
			depa:depa,
			startFinishTime_d:startFinishTime,
			endFinishTime_d:endFinishTime,
			engineerName:engineerName,
			empId:empId,
			userName:userName,
			processStatus:processStatus
		});
});

//重置按钮
$('#reset_btn-${rand}').bind('click', function(){
    $('#startCreateTime-${rand}').val('');
	$('#endCreateTime-${rand}').val('');
	$('#processInstanceId-${rand}').val('');
	$('#startFinishTime-${rand}').val('');
	$('#endFinishTime-${rand}').val('');
    $('#empId-${rand}').val('');
    $('#userName-${rand}').val('');
    $('#depa-${rand}').val('');
    $('#processStatus-${rand}').combobox('clear');
	
});
//导出
$('#export_btn-${rand}').bind('click', function(){
	var startCreateTime = $('#startCreateTime-${rand}').val();
	var endCreateTime = $('#endCreateTime-${rand}').val();
	var processInstanceId = $('#processInstanceId-${rand}').val();
	var startFinishTime = $('#startFinishTime-${rand}').val();
	var endFinishTime = $('#endFinishTime-${rand}').val();
    var empId=$('#empId-${rand}').val();
    var userName=$('#userName-${rand}').val();	
    var depa = $('#depa-${rand}').val();
    var processStatus = $('#processStatus-${rand}').combobox('getValue');
	var form = $("<form method='post'>");
   	form.attr('style', 'display:none');
   	form.append($("<input type=hidden name='startCreateTime_d' value='"+startCreateTime+"'>"));
   	form.append($("<input type=hidden name='endCreateTime_d' value='"+endCreateTime+"'>"));
   	form.append($("<input type=hidden name='startFinishTime_d' value='"+startFinishTime+"'>"));
   	form.append($("<input type=hidden name='endFinishTime_d' value='"+endFinishTime+"'>"));
   	form.append($("<input type=hidden name='processStatus' value='"+processStatus+"'>"));
   	form.append($("<input type=hidden name='processInstanceId' value='"+processInstanceId+"'>"));
   	form.append($("<input type=hidden name='empId' value='"+empId+"'>"));
 	form.append($("<input type=hidden name='userName' value='"+userName+"'>"));
 	form.append($("<input type=hidden name='depa' value='"+depa+"'>"));
 	
   	form.appendTo($(document.body));
    form.form('submit',{url:'taskmonitor/exportAccountHandel.html'});
    form.remove();
});
</script>
<#include "/common/foot.ftl">