<#assign title="流程">
<#include "/common/head.ftl">

<div class="easyui-layout" data-options="fit:true">
 	<div data-options="region:'north',border:false,minHeight:45," style="padding:5px 0px 5px 0px">
		<div style="padding:5px;height:85px;background:#fafafa;border:1px solid #ccc">
		    <table border="0" >
		 			<tr>
		   				<td align="right" style="white-space:nowrap">创建时间：</td>
		    			<td> 
		    			 	<input id="startCreateTime-${rand}" type="text" class="easyui-my97" readonly="readonly" name="startCreateTime_d"
    								data-options="dateFmt:'yyyy-MM-dd',width:130,required:false,maxDate:'#F{$dp.$D(\'endCreateTime-${rand}\')}'"/>
		   				</td>
		   				<td align="center" style="width:30px; white-space:nowrap;">-</td>
		   				<td> 
    			 			<input id="endCreateTime-${rand}" type="text" class="easyui-my97" readonly="readonly" name="endCreateTime_d"
    								data-options="dateFmt:'yyyy-MM-dd',width:130,required:false,minDate:'#F{$dp.$D(\'startCreateTime-${rand}\')}'"/>
		   				</td>
		   				<td align="right" style="white-space:nowrap; padding-left:12px;">流程实例编号：</td>
		   				<td >
		   				 	<input id="proInstId-${rand}"  style="width:148px;" class="easyui-textbox" type="text" name="proInstId" data-options=""></input>
		   				</td>
		   				<td  align="left" style="white-space:nowrap;padding-left:12px;">
		   					<a href="javascript:void(0)" id="search_btn-${rand}" class="easyui-linkbutton" iconCls="icon-search">查询</a>
		   					<a href="javascript:void(0)" id="reset_btn-${rand}" class="easyui-linkbutton" iconCls="icon-reload">重置</a>
		   				</td>
		 			</tr>
		 			<tr>
		 				<td align="right" style="white-space:nowrap">完成时间：</td>
		    			<td> 
		   					<input id="startFinishTime-${rand}" type="text" class="easyui-my97" readonly="readonly" name="startFinishTime_d"
    								data-options="dateFmt:'yyyy-MM-dd',width:130,required:false,maxDate:'#F{$dp.$D(\'endFinishTime-${rand}\')}'"/>
		   				</td>
		   				<td align="center" style="width:30px; white-space:nowrap;">-</td>
		   				<td> 
    			 			<input id="endFinishTime-${rand}" type="text" class="easyui-my97" readonly="readonly" name="endFinishTime_d"
    								data-options="dateFmt:'yyyy-MM-dd',width:130,required:false,minDate:'#F{$dp.$D(\'startFinishTime-${rand}\')}'"/>
		   				</td>
		   				<td align="right" style="white-space:nowrap; padding-left:12px;">实例名称：</td>
		   				<td >
		   				 	<input id="proInstName-${rand}"  style="width:148px;" class="easyui-textbox" type="text" name="proInstName" data-options=""></input>
		   				</td>
		   				<td  align="left" style="white-space:nowrap;padding-left:12px;">
		   					<a id="export_btn-${rand}" href="javascript:void(0);" class="easyui-linkbutton"  data-options="iconCls:'icon-down_load'">导出</a>
		   				</td>
		 			</tr>
		 			<tr>
		 				<td align="right" style="white-space:nowrap; padding-left:12px;">处理工程师：</td>
		   				<td >
		   				 	<input id="engineerName-${rand}"  style="width:148px;" class="easyui-textbox" type="text" name="engineerName" data-options=""></input>
		   				</td>
		 				<td></td>
		 				<td></td>
		 				<td></td>
		 				<td></td>
		 				<td></td>
		 			</tr>
			</table>
		  </div>
	 </div>
	
	
	<div data-options="region:'center',border:false" style="padding:0px 0px 0px 0px;">
		<div id="monitorTaskGrid-${rand}"></div>
	</div>

 </div>
 
 
 <script type="text/javascript">
$('#monitorTaskGrid-${rand}').datagrid({
  fitColumns:true,
  url:'taskmonitor/getAllSendOrderProcess.json',
  columns:[[
  	{field:'processInstanceId',title:'流程实例编号',checkbox:false,width:100,align:'center'},
  	{field:'processInstanceName',title:'实例名称',width:90,align:'center'},
  	{field:'processDefName',title:'流程名称',width:70,align:'center'},
	{field:'taskName',title:'任务名称',width:70,align:'center'},
	{field:'engineerName',title:'任务处理工程师',align:'center',width:80},
	{field:'startTime',title:'任务创建时间',width:110,align:'center'},
	{field:'endTime',title:'工程师处理完成时间',width:110,align:'center'},
	{field:'elapsedTime',title:'处理耗时(小时)',width:70,align:'center'},
	{field:'processStatus',title:'流程状态',width:50,align:'center',
		formatter: function(value,row,index){
			if(value == 1){
				return '<span style=\"color:red\">运行中</span>';
			} else if (value == 2) {
				return '<span style=\"color:blue\">已完成</span>';
			} else if (value == 3) {
				return '<span style=\"color:#005831\">已挂起</span>';
			} else if (value == 4) {
				return '<span style=\"color:#c88400\">已激活</span>';
			} else if (value == 5) {
				return '<span style=\"color:#840228\">已作废</span>';
			} else if (value == 6) {
				return '<span style=\"color:#D2691E\">审批未通过</span>';
			} else {
				return '<span style=\"color:#008792\">未知状态</span>';
			}
		}
	},
	{field:'satisfaction',title:'用户满意度',width:60,align:'center',
		formatter: function(value,row,index){
			if(value == 9 || value == 10){
				return '<span style=\"color:green\">非常满意</span>';
			}else if(value == 7 || value == 8){
				return '<span style=\"color:blue\">基本满意</span>';
			}else if(value == 6){
				return '<span style=\"color:orange\">满意</span>';
			}else if(value == 4 || value == 5){
				return '<span style=\"color:red\">不满意</span>';
			}else{
				return '<span style=\"color:red\">非常不满意</span>';
			}
		}
	},
	{field:'satisfactionRate',title:'满意率',width:50,align:'center'}
  ]],
  nowrap: true,       
  fit : true,
  border : true,
  pagination:true,
  singleSelect:true,
  rownumbers:true,
  pageNumber : 1,
  pageSize : 20,
  toolbar: [{
	text : '维护汇总',
	iconCls: 'add-page',
	handler: maintainCollectPage${rand}
  }]
  //onDblClickRow:function(rowIndex, rowData){
	//	 viewHisProcss${rand}();
	  //}
});

function maintainCollectPage${rand}(){
	$('<div id="hisWin-${rand}"></div>').dialog({
	    title: '维护汇总',
	    width: 1000,
	    height: 550,
	    closed: false,
	    cache: false,
	    maximizable:true,
	    style:"padding:10px",
	    href: 'taskmonitor/maintainCollectPage.html',
	    modal: true,
	    resizable:false,
	    onClose: function(){
	    	$(this).dialog('destroy');
	    }
	});
}
//查询按钮
$('#search_btn-${rand}').bind('click', function(){
    var startCreateTime = $('#startCreateTime-${rand}').val();
	var endCreateTime = $('#endCreateTime-${rand}').val();
	var proInstId = $('#proInstId-${rand}').val();
	var proInstName = $('#proInstName-${rand}').val();
	var startFinishTime = $('#startFinishTime-${rand}').val();
	var endFinishTime = $('#endFinishTime-${rand}').val();
	var engineerName = $('#engineerName-${rand}').val();

	$('#monitorTaskGrid-${rand}').datagrid('reload',
		{
			startCreateTime_d:startCreateTime,
			endCreateTime_d:endCreateTime,
			proInstId:proInstId,
			processInstanceName:proInstName,
			startFinishTime_d:startFinishTime,
			endFinishTime_d:endFinishTime,
			engineerName:engineerName
		});
});

//重置按钮
$('#reset_btn-${rand}').bind('click', function(){
    $('#startCreateTime-${rand}').val('');
	$('#endCreateTime-${rand}').val('');
	$('#proInstId-${rand}').val('');
	$('#proInstName-${rand}').val('');
	$('#startFinishTime-${rand}').val('');
	$('#endFinishTime-${rand}').val('');
	$('#engineerName-${rand}').val('');
});
//导出
$('#export_btn-${rand}').bind('click', function(){
	var startCreateTime = $('#startCreateTime-${rand}').val();
	var endCreateTime = $('#endCreateTime-${rand}').val();
	var proInstId = $('#proInstId-${rand}').val();
	var proInstName = $('#proInstName-${rand}').val();
	var startFinishTime = $('#startFinishTime-${rand}').val();
	var endFinishTime = $('#endFinishTime-${rand}').val();
	var engineerName = $('#engineerName-${rand}').val();
		
	var form = $("<form method='post'>");
   	form.attr('style', 'display:none');
   	form.append($("<input type=hidden name='startCreateTime_d' value='"+startCreateTime+"'>"));
   	form.append($("<input type=hidden name='endCreateTime_d' value='"+endCreateTime+"'>"));
   	form.append($("<input type=hidden name='startFinishTime_d' value='"+startFinishTime+"'>"));
   	form.append($("<input type=hidden name='endFinishTime_d' value='"+endFinishTime+"'>"));
   	form.append($("<input type=hidden name='processInstanceName' value='"+proInstId+"'>"));
   	form.append($("<input type=hidden name='proInstId' value='"+proInstName+"'>"));
   	form.append($("<input type=hidden name='engineerName' value='"+engineerName+"'>"));
   	form.appendTo($(document.body));
    form.form('submit',{url:'taskmonitor/exportSendOrderDetail.html'});
    form.remove();
});
</script>
<#include "/common/foot.ftl">