<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<link rel="stylesheet" type="text/css" href="${base}css/sunny/jquery-ui-1.10.4.custom.min.css"/>
<script type="text/javascript" src="${base}js/jquery.min.js"></script>
<script type="text/javascript" src="${base}js/jquery-ui.min.js"></script>
<style type="text/css">
body {
  font-size: 14px;
}
</style>
<script type="text/javascript">
$(function() {
  $('#create').click(function() {
    $('#createModelTemplate').dialog({
      modal: true,
      width: 500,
      buttons: [{
    	text: '创建',
    	click: function() {
    	  if (!$('#name').val()) {
    		alert('请填写名称！');
    		$('#name').focus();
    		return;
    	  }
          setTimeout(function() {
            location.reload();
          }, 1000);
    	  $('#modelForm').submit();
    	}
      }]
    });
  });
});
</script>

</head>
<body>
<button id="create">创建</button>
<table>
  <thead>
	<tr>
	  <th>ID</th>
	  <th>KEY</th>
	  <th>Name</th>
	  <th>Version</th>
	  <th>创建时间</th>
	  <th>最后更新时间</th>
	  <th>元数据</th>
	  <th>操作</th>
	</tr>
  </thead>
  <tbody>
	<#list list as model>
	  <tr>
		<td>${model.id }</td>
		<td>${model.key }</td>
		<td>${model.name}</td>
		<td>${model.version}</td>
		<td>${model.createTime?string("Y-M-d")}</td>
		<td>${model.lastUpdateTime?string("Y-M-d")}</td>
		<td>${model.metaInfo}</td>
		<td>
		  <a href="../service/editor?id=${model.id}" target="_blank">编辑</a>
		  <a href="deploy/${model.id}">部署</a>
		  <a href="export/${model.id}" target="_blank">导出</a>
          <a href="delete/${model.id}">删除</a>
		</td>
	  </tr>
	</#list>
  </tbody>
</table>
<div id="createModelTemplate" title="创建模型" style="display:none;">
  <form id="modelForm" action="${base}model/create.html" target="_blank" method="post">
	<table>
	  <tr>
		<td>名称：</td>
		<td>
		  <input id="name" name="name" type="text" />
		</td>
	  </tr>
	  <tr>
		<td>KEY：</td>
		<td>
		  <input id="key" name="key" type="text" />
		</td>
	  </tr>
	  <tr>
		<td>描述：</td>
		<td>
		  <textarea id="description" name="description" style="width:300px;height: 50px;"></textarea>
		</td>
	  </tr>
	</table>
  </form>
</div>

</body>
</html>
