<#assign title="活动的流程">
<#include "head.ftl">
<table>
  <tr>
	<th>流程名称</th>
	<td>版本号</td>
	<th>所属部门</th>
	<th>分类</th>
	<th>部署时间</th>
	<th>状态</th>
	<th>操作</th>
  </tr>
  <tr>
	<td>请假流程</td>
	<td>1</td>
	<td>HR</td>
	<td>人事</td>
	<td>2013-03-01 14:00:00</td>
	<td>启用</td>
	<td style="color:blue;">挂起</td>
  </tr>
  <tr>
	<td>立项流程</td>
	<td>1</td>
	<td>信息部</td>
	<td>项目</td>
	<td>2013-03-01 14:00:00</td>
	<td>启用</td>
	<td style="color:blue;">挂起</td>
  </tr>
  <tr>
	<td>入职流程</td>
	<td>1</td>
	<td>HR</td>
	<td>人事</td>
	<td>2013-03-01 14:00:00</td>
	<td>启用</td>
	<td style="color:blue;">挂起</td>
  </tr>
  <tr>
	<td>调派流程</td>
	<td>1</td>
	<td>信息部</td>
	<td>人事</td>
	<td>2013-03-01 14:00:00</td>
	<td>启用</td>
	<td style="color:blue;">挂起</td>
  </tr>
</table>
<#include "foot.ftl">
