<#assign title="设计流程">
<#include "head.ftl">
<table>
  <tr>
	<th>模型名称</th>
	<th>版本</th>
	<th>KEY</th>
	<th>分类</th>
	<th>元数据</th>
	<th>操作</th>
  </tr>
  <tr>
	<td>请假流程</td>
	<td>1</td>
	<td>vocation</td>
	<td>分类1</td>
	<td>-</td>
	<td style="color:blue;">部署 <a href="http://localhost:8080/gniflow/service/editor?id=258" target="_blank">编辑</a> 删除</td>
  </tr>
  <tr>
	<td>立项流程</td>
	<td>1</td>
	<td>vocation</td>
	<td>分类1</td>
	<td>-</td>
	<td style="color:blue;">部署 编辑 删除</td>
  </tr>
  <tr>
	<td>入职流程</td>
	<td>1</td>
	<td>vocation</td>
	<td>分类1</td>
	<td>-</td>
	<td style="color:blue;">部署 编辑 删除</td>
  </tr>
  <tr>
	<td>新产品流程</td>
	<td>1</td>
	<td>vocation</td>
	<td>分类1</td>
	<td>-</td>
	<td style="color:blue;">部署 编辑 删除</td>
  </tr>
  <tr>
	<td>请假流程</td>
	<td>1</td>
	<td>vocation</td>
	<td>分类1</td>
	<td>-</td>
	<td style="color:blue;">部署 编辑 删除</td>
  </tr>
  <tr>
	<td>请假流程</td>
	<td>1</td>
	<td>vocation</td>
	<td>分类1</td>
	<td>-</td>
	<td style="color:blue;">部署 编辑 删除</td>
  </tr>
  <tr>
	<td>请假流程</td>
	<td>1</td>
	<td>vocation</td>
	<td>分类1</td>
	<td>-</td>
	<td style="color:blue;">部署 编辑 删除</td>
  </tr>
  <tr>
	<td>请假流程</td>
	<td>1</td>
	<td>vocation</td>
	<td>分类1</td>
	<td>-</td>
	<td style="color:blue;">部署 编辑 删除</td>
  </tr>
  <tr>
	<td>请假流程</td>
	<td>1</td>
	<td>vocation</td>
	<td>分类1</td>
	<td>-</td>
	<td style="color:blue;">部署 编辑 删除</td>
  </tr>
</table>
<#include "foot.ftl">
