<#assign title="归档任务">
<#include "head.ftl">

<table id="tasks">
  <tr>
	<th>流程管理号</th>
	<th>流程名称</th>
	<th>流程节点</th>
	<th>操作</th>
  </tr>
  <tr>
	<td>123</td>
	<td>请假流程</td>
	<td>部门经理审批</td>
	<td style="color:blue;">查看</td>
  </tr>
  <tr>
	<td>125</td>
	<td>立项流程</td>
	<td>添加基础资料</td>
	<td style="color:blue;">查看</td>
  </tr>
  <tr>
	<td>123</td>
	<td>请假流程</td>
	<td>部门经理审批</td>
	<td style="color:blue;">查看</td>
  </tr>
  <tr>
	<td>125</td>
	<td>立项流程</td>
	<td>添加基础资料</td>
	<td style="color:blue;">查看</td>
  </tr>
  <tr>
	<td>123</td>
	<td>请假流程</td>
	<td>部门经理审批</td>
	<td style="color:blue;">查看</td>
  </tr>
  <tr>
	<td>125</td>
	<td>立项流程</td>
	<td>添加基础资料</td>
	<td style="color:blue;">查看</td>
  </tr>
  <tr>
	<td>125</td>
	<td>立项流程</td>
	<td>添加基础资料</td>
	<td style="color:blue;">查看</td>
  </tr>
</table>
<#include "foot.ftl">
