<#assign title="流程详情">
<#include "head.ftl">
<div style="float:left;maring:40px;padding:40px;border:1px solid black;">
<div>
  <h3>流程图</h3>
  <img src="image/flow.png"/>
</div>
<div>
  <h3>任务</h3>
  <table>
	<tr>
	  <th>名称</th>
	  <th>优先级</th>
	  <th>办理人</th>
	  <th>创建时间</th>
	  <th>完成时间</th>
	</tr>
	<tr>
	  <td>部门审批</td>
	  <td>50</td>
	  <td>张丰(zhangfeng)</td>
	  <td>2013-05-06 14:35:22</td>
	  <td>2013-05-06 15:03:35</td>
	</tr>
	<tr>
	  <td>HR审批</td>
	  <td>50</td>
	  <td>李丰(lifeng)</td>
	  <td>2013-05-06 14:35:22</td>
	  <td>2013-05-06 15:03:35</td>
	</tr>
  </table>
</div>
<div>
  <h3>流程变量</h3>
<table>
  <tr>
	<td>申请人</td>
	<td>张三</td>
  </tr>
  <tr>
	<td>开始时间</td>
	<td>2014-02-06</td>
  </tr>
  <tr>
	<td>结束时间</td>
	<td>2014-02-07</td>
  </tr>
  <tr>
	<td>申请事由</td>
	<td>外出处理事情</td>
  </tr>
</table>
</div>
</div>
<#include "foot.ftl">
