<#assign title="流程实例管理">
<#include "head.ftl">
<table>
  <tr>
	<th>ID</th>
	<th>流程名称</th>
	<th>当前节点</th>
	<th>开始时间</th>
	<th>结束时间</th>
	<th>流程发起人</th>
	<th>操作</th>
  </tr>
  <tr>
	<td>12</td>
	<td>请假流程</td>
	<td>部门经理审批</td>
	<td>2013-05-06 13:22:23</td>
	<td>-</td>
	<td>张三(zhangsan)</td>
	<td style="color:blue;">挂起</td>
  </tr>
  <tr>
	<td>12</td>
	<td>立项流程</td>
	<td>工程师初评</td>
	<td>2013-05-06 13:22:23</td>
	<td>-</td>
	<td>张三(zhangsan)</td>
	<td style="color:blue;">挂起</td>
  </tr>
  <tr>
	<td>12</td>
	<td>请假流程</td>
	<td>部门经理审批</td>
	<td>2013-05-06 13:22:23</td>
	<td>-</td>
	<td>张三(zhangsan)</td>
	<td style="color:blue;">挂起</td>
  </tr>
  <tr>
	<td>12</td>
	<td>立项流程</td>
	<td>工程师初评</td>
	<td>2013-05-06 13:22:23</td>
	<td>-</td>
	<td>张三(zhangsan)</td>
	<td style="color:blue;">挂起</td>
  </tr>
  <tr>
	<td>12</td>
	<td>请假流程</td>
	<td>部门经理审批</td>
	<td>2013-05-06 13:22:23</td>
	<td>-</td>
	<td>张三(zhangsan)</td>
	<td style="color:blue;">启用</td>
  </tr>
</table>
<#include "foot.ftl">
