  <#assign title="任务表单"/>
  <!-- 为EOA项目提供的流程历史表单 -->
  <#include "/common/head.ftl">
    <div id="loadFormPanel-${rand}" style="padding-right: 20px"></div>
     <div id="loadFormPrintPanel-${rand}" style="display: none;padding-right: 20px"></div>
       <div id="upload-${rand}">
           <div id="uploader${rand}" class="fileUploader">
               <div id="fileList${rand}" class="uploader-list"></div>
               <table style="width: 100%;text-align: center;padding-top: 20px;">
                   <tr>
                       <td align="right"><div id="filePicker${rand}">选择文件</div></td>
                       <td align="left"><a id="ctlBtn${rand}" href="javascript:void(0)" class='btn'>开始上传</a></td>
                   </tr>
               </table>
           </div>
       </div>

       <!-- trun to do win -->
       <div id="truntodoWin-${rand}"  style="width:650px;height:250px;padding:5px">
              <form id="turntodoForm${rand}" method="post" enctype='multipart/form-data'>
                  <table id="turntodoFormTable" class="formtable" cellspacing="1" cellpadding="0">
                      <tr>
                          <td class="formtable_td_key">任务接收人：</td>
                          <td class="formtable_td_value">
                              <input id="accepter${rand}" type="hidden" value="" name="accepter"/>
                              <input id="accepterName${rand}" class="easyui-validatebox" readonly="readonly" name="accepterName" data-options="required:true">
                              <a id="openOrgWinBtn${rand}" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true">选择</a>
                          </td>
                      </tr>
                      <tr>
                          <td class="formtable_td_key">转办原因：</td>
                          <td class="formtable_td_value">
  	  			<textarea name="turntodoReason" class="formtable_remark easyui-validatebox"
                                style="width: 450px; height: 100px"></textarea>
                          </td>
                      </tr>
                  </table>
              </form>
       </div>

       <!-- select account win -->
       <div id="orgWin-${rand}" 
            style="width: 600px; height: 500px; padding: 5px">
           <div class="easyui-layout" data-options="fit:true">
               <div data-options="region:'north',border:false,minHeight:30," style="padding:5px 0px 5px 0px">
                   <div style="padding:5px;height:30px;background:#fafafa;border:1px solid #ccc">
                       <table border="0" >
                           <tr>
                               <td align="right" style="white-space:nowrap;padding-left:12px;" >账号：</td>
                               <td >
                                   <input id="userAccount-${rand}"  style="width: 100px" class="easyui-validatebox" type="text" name="account" data-options=""/>
                               </td>
                               <td align="right" style="white-space:nowrap; padding-left:12px;">姓名：</td>
                               <td >
                                   <input id="userName-${rand}" style="width: 100px" class="easyui-validatebox" type="text" name="name" data-options=""/>
                               </td>
                               <td  align="left" style="white-space:nowrap;padding-left:12px;">
                                   <a href="javascript:void(0)" id="user_search_btn-${rand}" class="easyui-linkbutton" iconCls="icon-search">查询</a>
                                   <a href="javascript:void(0)" id="user_reset_btn-${rand}" class="easyui-linkbutton" iconCls="icon-reload">重置</a>
                               </td>
                           </tr>
                       </table>
                   </div>
               </div>

               <div data-options="region:'center',border:false" style="padding:0px 0px 0px 0px;">
                   <div id="userGrid-${rand}"></div>
               </div>
           </div>
       </div>

       <script type="text/javascript">
       //init org win
      $(function(){
    	   
           //附件上传窗口
           $("#upload-${rand}").dialog({
           		iconCls:'icon-save',
           		resizable:true,
           		width:708,
           		height:544,
           		modal:true,
           		closed:true,
           		title:"上传附件",
           		buttons: [{
                       text:'完成',
                       iconCls:'icon-ok',
                       handler: closeUploadDiag${rand}
                   }]
           }); 
           //转办窗口
           $('#truntodoWin-${rand}').dialog({
        	   modal:true,
       	   closed:true,
       	   maximizable:false,
       	   cache: false,
       	   resizable:true,
       	   title:"转办",
              buttons: [{
              		text:'确定',
                   iconCls:'icon-ok',
                  	handler:truntodoWinSubmit${rand}
            	},{
                  text:'关闭',
                  iconCls:'icon-cancel',
                  handler:truntodoWinClose${rand}
              }]
           });
           //用户选择窗口
           $('#orgWin-${rand}').dialog({
        	   title:"用户选择窗口",
        	  	modal:true, 
        	  	closed:true,
        	  	iconCls:'icon-process',
  				buttons: [{
  	                  text:'完成',
  	                  iconCls:'icon-ok',
  	                  handler: selectUserEnd
  	              },{
  	                  text:'关闭',
  	                  iconCls:'icon-cancel',
  	                  handler: closeSelectUserWin
  	              }]
            });	
    	   $('#loadFormPanel-${rand}').panel({
	                border:false,
	                href:"sysprocess/task/form.html?taskId=" + taskId
	            });
	  			
	  			//加载打印的表单
	  			$('#loadFormPrintPanel-${rand}').panel({
	  		             border:false,
	  		             href:"sysprocess/task/viewHisPrintform.html?processInstanceId=" + processInstanceId
	  		         });
     	   $('#userGrid-${rand}').datagrid({
                fitColumns:true,
                url:'hrFlow/queryUserByOrgId.json',
                queryParams: {
                    taskId: taskId
                },
                columns:[[
                    {field:'id',hidden:true, checkbox:false},
                    {field:'account',title:'帐号',width:150},
                    {field:'name',title:'姓名',width:150},
                    {field:'orgId',title:'部门ID',hidden:true, width:150},
                    {field:'orgName',title:'部门名称',width:150}
                ]],
                nowrap: true,
                fit : true,
                border : true,
                pagination:true,
                pageNumber : 1,
                pageSize : 10,
                rownumbers:true,
                singleSelect:true
            });
         //按钮绑定事件
         $('#user_search_btn-${rand}').bind('click', function(){
             var account = $('#userAccount-${rand}').val();
             var name = $('#userName-${rand}').val();

             $('#userGrid-${rand}').datagrid('reload',
                 {
                     account:account,
                     name:name,
                     taskId:taskId
                 });
         });
         //弹出窗口事件绑定
         $('#openOrgWinBtn${rand}').bind('click', function(){
             //重新加载用户数据
             $('#userGrid-${rand}').datagrid('reload',
                 {
                     taskId:taskId
                 });
             $('#orgWin-${rand}').dialog('open');
         });
         
         //重置用户查询
         $('#user_reset_btn-${rand}').bind('click', function(){
             $('#userAccount-${rand}').val('');
             $('#userName-${rand}').val('');
         });
         //通过任务id获取任务相关信息
         $.getJSON("workspace/getTaskInfoById.json",{taskId:taskId},function(data){
         	if(data.success){
         		 var taskInfo = data.attributes;
                  taskId = taskInfo.taskId;
                  taskDefKey = taskInfo.taskDefKey;
                  processInstanceId = taskInfo.processInstanceId;
                  assignee = taskInfo.assignee;
         	}
         })
         //初始化上传工具
         uploader${rand} = GnifFileUpload.init(
                "js/fileupload/Uploader.swf",
                "${oss_server}",
                "filePicker${rand}",
                "fileList${rand}",
                "ctlBtn${rand}",
                "uploader${rand}",
                true,
                "${oss_code}",
                uploadSuccess${rand},
                "attchFileGrid-${rand}",
                1
            );

         
         init();
        });
       	//获取查询查询参数
    	function getQueryStr(sArgName)
    	{
    		var LocString = window.location.href;
    		var args = LocString.split("?");
    		var retval = "";
    		if(args[0] == LocString) /*参数为空*/
    		{
    			return retval; /*无需做任何处理*/
    		}
    		var str = args[1];
    		args = str.split("&");
    		for(var i = 0; i < args.length; i ++)
    		{
    			str = args[i];
    			var arg = str.split("=");
    			if(arg.length <= 1) continue;
    			if(arg[0] == sArgName) retval = arg[1];
    		}
    		return retval;
    	}
    	//监听处理方法
        var OnMessage = function (e) {
    		switch(e.data){
        		case 'commitForm': commitForm${rand}();break;
        		case 'turntodoTask':  turntodoTask${rand}();break;
        		case 'addAttache': addAttache${rand}();break;
        		case 'signTask': signTask${rand}();break;
        		case 'returnTask':  returnTask${rand}();break;
        	}
        }
        //初始化iframe中的监听器
        function init() {
            if (window.addEventListener) {  // all browsers except IE before version 9
                window.addEventListener("message", OnMessage, false);
            } else {
                if (window.attachEvent) {   // IE before version 9
                window.attachEvent("onmessage", OnMessage);
                }
            }
           };
           var taskId = getQueryStr("taskId"),taskDefKey,processInstanceId = getQueryStr("processInstanceId"),assignee,uploader${rand};
           //提交任务
           function commitForm${rand}() {
               $.messager.progress();
               var operateForm = $("#loadFormPanel-${rand}").find("form[id^='"+ taskDefKey +"Form']");
               operateForm.form('submit', {
                   url: 'sysprocess/complete/'+taskId+".html",
                   onSubmit: function(param) {
                       var validateResult = $(this).form('enableValidation').form('validate');
                       if (validateResult) {
                           if ($('#attchFileGrid-${rand}').length > 0) {
                               var rows = $('#attchFileGrid-${rand}').datagrid('getRows');
                               $.each(rows, function(i, d){
                                   param['attch_' + i] = d.fileNo + "_" + d.fileName;
                               });
                           }
                       } else {
                           $.messager.progress('close');
                           window.parent.postMessage(JSON.stringify({type:'fieldError',success:false}),"*");
                           return false;
                       }
                   },
                   success: function(data) {
                       $.messager.progress('close');
                       var data = JSON.parse(data);
                   	if(data.attributes && data.attributes.close == false){
                   	}else{
                        $('#win-${rand}').dialog('close');
                   	}
                       $.messager.show({
                           title: '信息提示',
                           msg: data.msg
                       });
                       window.parent.postMessage(JSON.stringify(data),"*");
                   }
               });
           }

		//签收任务
           function signTask${rand}(){
                if (assignee == null){
                    $.messager.confirm('提示信息','您确定要签收任务吗?',function(r){
                        if (r){
                            $.messager.progress();
                            $.post('workspace/signTask.html',{taskId:taskId},function(result){
                                $.messager.progress('close');
                                $.messager.show({
                                    title: '信息提示', msg: result.msg
                                });
                            },'json');
                        }
                    });
                } else {
                    $.messager.alert('信息提示','该任务已经分配,不需要签收!','info');
                }
           }

           //转办
           function turntodoTask${rand}(){
                if(assignee == null){
                    $.messager.alert('信息提示','请先签收任务再处理该任务!','info');
                    return;
                } else {
                    $('#truntodoWin-${rand}').dialog('open');
                }
           }
		//添加附件
           function addAttache${rand}(){
               $('#upload-${rand}').dialog('open');
           }
           //删除附件
           function delAttch${rand}(fileNo,fileDivId){
               GnifFileUpload.deleteFile("${oss_code}",fileNo,deleteAttachGrid${rand}(fileDivId));
           }
           //删除附件
           function deleteAttachGrid${rand}(fileDivId){
               //删除表单file

               var item = $('#attchFileGrid-${rand}').datagrid('getRows');
               if (item) {
                   for (var i = item.length - 1; i >= 0; i--) {
                       if(item[i]['fileDivId'] == fileDivId) {
                           var index = $('#attchFileGrid-${rand}').datagrid('getRowIndex',item[i]);
                           $('#attchFileGrid-${rand}').datagrid('deleteRow', index);
                       }

                   }
               }


               var grid = $("#fileList${rand}").datagrid('getRows');
               if (grid) {
                   for (var i = grid.length - 1; i >= 0; i--) {
                       if(grid[i]['fileId'] == fileDivId) {
                           var idx = $("#fileList${rand}").datagrid('getRowIndex',grid[i]);
                           $("#fileList${rand}").datagrid('deleteRow', idx);
                       }

                   }
               }


               GnifFileUpload.removeFileFromQueue(uploader${rand},fileDivId);

               //删除控件中的文件显示
               //$("#fileList${rand}").datagrid('deleteRow', delindex);
           }

           //关闭上传文件框
           function closeUploadDiag${rand}(){
               $('#upload-${rand}').dialog('close');
           }




           //转办提交
           function truntodoWinSubmit${rand}(){
               if (assignee != null){
                   $.messager.progress();
                   $('#turntodoForm${rand}').form('submit', {
                       url: 'workspace/turntodoTask/'+taskId+".html",
                       onSubmit: function(param) {
                           var validateResult = $(this).form('enableValidation').form('validate');
                           if (!validateResult) {
                               $.messager.progress('close');
                               return false;
                           }
                       },
                       success: function(data) {
                           $.messager.progress('close');
                           var data = JSON.parse(data);
                           $('#truntodoWin-${rand}').dialog('close');
                           $.messager.show({
                               title: '信息提示',
                               msg: data.msg
                           });
                           window.parent.postMessage(JSON.stringify(data),"*");
                       }
                   });
               } else {
                   $.messager.alert('信息提示','该任务未签收,请签收任务后在进行转办操作!','info');
               }
           }
           //转办关闭
           function truntodoWinClose${rand}(){
               $('#truntodoWin-${rand}').dialog('close');
           }


           //选择用户完成事件
           function selectUserEnd(){
               var row = $('#userGrid-${rand}').datagrid('getSelected');
               if (row) {
                   $('#accepter${rand}').val(row.account);
                   $('#accepterName${rand}').val(row.name);

                   $('#accepterName${rand}').validatebox('validate');

                   $('#orgWin-${rand}').dialog('close');
               } else {
                   $.messager.alert('信息提示','请从人员列表中选择一条记录!','warning');
               }
           }
		//关闭窗口
           function  closeSelectUserWin(){
               $('#orgWin-${rand}').dialog('close');
           }

		//退回任务
           function returnTask${rand}(){
               $.messager.confirm('提示信息','您确定要退回任务吗?',function(r){
                   if (r){
                       $.post('workspace/returnTask.html',{processInstanceId:processInstanceId},function(result){
                           $.messager.alert('信息提示', result.msg,'warning');
                           	window.parent.postMessage(JSON.stringify(result),"*");
                       },'json');
                   }
               });
           }


           //上传回调
           function uploadSuccess${rand}(response,file) {
               if($('#attchFileGrid-${rand}').length <= 0){
                   var $table= $("#" + taskDefKey + "Form");
                   var div = '<br/><div id="attchFileGrid-${rand}"></div>';
                   $table.after(div);

                   $('#attchFileGrid-${rand}').datagrid({
                       columns:[[
                           {field:'fileNo',title:'文件编号',width:100},
                           {field:'fileName',title:'文件名',width:120},
                           {field:'fileSize',title:'文件大小',width:120},
                           {field:'param',title:'下载参数',width:0,hidden:'true'},
                           {field:'fileDivId',title:'文件节点id',width:0,hidden:'true'},
                           {field:'operate',title:'操作',width:120,
                               formatter: function(value,row,index){
                                   var returnStr = "<a href='${file_download_url}"+ row.param +"'>下载</a>"
                                       + "&nbsp;&nbsp;<a href='javascript:void(0)' onclick=delAttch${rand}("+row.fileNo+",'"+row.fileDivId+"');>删除</a>"
                                   return returnStr;
                               }
                           }
                       ]],
                       title:'附件列表',
                       fitColumns:true,
                       rownumbers:true,
                       nowrap: true,
                       border : true
                   });
               }



               var fileAttr = response.attributes;
               var signatureAttr = JSON.parse(GnifFileUpload.sendRequest("./getSignatureAndPolicy.json?info=",encodeURIComponent("0\\n0\\n"+fileAttr.fileNo)));
               $('#attchFilePanel-${rand}').panel('open');
               $('#attchFileGrid-${rand}').datagrid('appendRow',{
                   fileNo: fileAttr.fileNo,
                   fileName: fileAttr.fileName,
                   fileSize: fileAttr.fileSize.formatSize(),
                   param: "?code=${oss_code}&policy="+signatureAttr.policy+"&signature="+signatureAttr.signature,
                   fileDivId: file.id
               });
           } 
          	//打印帮助
       	function help(){
       		window.open("common/printHelp/printHelp.html", "helpPrint", "");
       	}
       	//打印
    	function print(){
    		LODOP = getLodop(document.getElementById('LODOP_OB'),document.getElementById('LODOP_EM'));
    		if ( typeof(LODOP) != "undefined" && LODOP != null) {
    			LODOP.PRINT_INITA(10,10,730,1050,"${rand}")
    			LODOP.ADD_PRINT_HTM(10,10,730,1050,"<!DOCTYPE html><html><head><meta name='renderer' content='webkit'/><meta charset='utf-8'/>"+$('#loadFormPrintPanel-${rand}').html()+"</html>");
    			LODOP.PREVIEW(); //打印预览  
    		} else {
    			$.messager.alert('信息提示','打印控件未安装,请点击打印帮助按钮,详细阅读打开的页面中的内容!','warning');
    		}
    	}

       </script>
       <#include "/common/foot.ftl">
