<#include "/common/head.ftl">
<div class="easyui-layout" data-options="fit:true">
<div data-options="region:'north',border:false,minHeight:45," style="padding:5px 0px 5px 0px">
		<div style="padding:5px;height:35px;background:#fafafa;border:1px solid #ccc">
		     <table border="0" >
		 			<tr>
		   				<td align="right" style="white-space:nowrap">部门：</td>
		    			<td> 
		    			 	<input id="orgTree-${rand}" style="width:190px;" class="easyui-combotree" name="orgId" 
		    			 		data-options="url:'hrFlow/auth/orgs.json',
		    			 			method:'get',panelWidth:260,panelHeight:300">
		   				</td>
		   				<td align="right" style="white-space:nowrap">岗位名称：</td>
		   				<td> 
    			 			<input id="positions-${rand}" type="text" style="width:190px;" class="easyui-textbox"  name="positions" />
		   				</td>
		   				<td align="right" style="white-space:nowrap">职级：</td>
		   				<td> 
    			 			<input id="grade-${rand}" type="text" style="width:190px;" class="easyui-textbox"  name="grade" />
		   				</td>
		   				<td width="200"  align="left" style="white-space:nowrap;padding-left:12px;">
		   					<a href="javascript:void(0)" id="search_btn-${rand}" class="easyui-linkbutton" iconCls="icon-search">查询</a>
		   					<a href="javascript:void(0)" id="reset_btn-${rand}" class="easyui-linkbutton" iconCls="icon-reload">重置</a>
		   				</td>
		 			</tr>
			</table>
		  </div>
	 </div>
	
	<div data-options="region:'center',border:false" style="padding:0px 0px 0px 0px;">
		<div id="busJobPreparaGrid-${rand}"></div>
	</div>
 </div>

<div id="jobPrepareDialog${rand}">
	<div  style="padding:10px 10px;">
		<form id="addJobPrepareForm${rand}" method="post">
			<table>
				<tr>
					<td width="120" align="center">部门:</td>
					<td>
						<input id="input_id_${rand}" type="hidden" name="id" />
						<input id="input_org_${rand}" class="easyui-combotree" name="orgId" data-options="url:'hrFlow/auth/orgs.json',method:'get',required:true,panelWidth:300" style="width:200px;">
					</td>
					<td width="120" align="center">岗位名称:</td>
					<td><input id="input_positions_${rand}" class="easyui-validatebox" name="positions" type="text" data-options="required:true" style="width:200px;"></td>
				</tr>
				<tr>
					<td width="120" align="center">职级:</td>
					<td><input id="input_grade_${rand}" class="easyui-validatebox" data-options="required:true" type="text" name="grade" style="width:200px;"/></td>
					<td width="120" align="center">编制:</td>
					<td><input id="input_plait_${rand}" class="easyui-validatebox" name="plait" data-options="required:true,validType:'number'" type="text" style="width:200px;"></td>
				</tr>
				<!-- <tr>
					<td width="120" align="center">现有人数:</td>
					<td><input id="input_existNum_${rand}" class="easyui-validatebox" name="existNum" data-options="required:true,validType:'number'" type="text" style="width:200px;"></td>
				</tr> -->
				<tr>
					<td width="120" align="center">薪资范围:</td>
					<td colspan="3"><input id="input_salaryRange_${rand}" class="easyui-validatebox" name="salaryRange"  type="text" style="width:200px;"></td>
				</tr>
			</table>
		</form>
	</div>
</div>

<!-- 导入 -->
<div id="importWin-${rand}" class="easyui-dialog" 
	data-options="modal:true, title:'导入岗位编制',closed:true,cache:false,iconCls:'icon-process',width:700,height:160,
				buttons: '#importWin-buttons${rand}',onClose:clearInputFile${rand}">
	<div  style="padding:10px 10px;">
		<form id="importForm${rand}" method="post" enctype="multipart/form-data">
			<table>
				<tr>
					<td colspan="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请先下载Excel模板，填写完毕后，再导入！</td>
				</tr>
				<tr>
					<td width="120" align="center">上传文件:</td>
					<td id="td_input_${rand}"><input id="upload_file-${rand}" class="easyui-validatebox" data-options="required:true" type="file" name="file" style="width:300px;"/></td>
					<td>
						<a id="download_btn-${rand}" href="javascript:void(0)" data-options="iconCls:'icon-down_load'" class="easyui-linkbutton">下载导入模板</a>
						<a id="upload_btn-${rand}" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search">上传</a>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>
<div id="importWin-buttons${rand}">
   	<a id="importWinCloseBtn${rand}" href="javascript:void(0)" data-options="iconCls:'icon-cancel'" class="easyui-linkbutton">关闭</a>
</div>

<!-- show error win -->
<div id="showErrorWin-${rand}" style="padding:5px 5px 5px 5px"></div>

<!-- 导出 -->
<div id="exportWin-${rand}" class="easyui-dialog" 
	data-options="modal:true, title:'导出岗位编制',closed:true,cache:false,iconCls:'icon-process',width:700,height:160,
				buttons: '#exportWin-buttons${rand}',onClose:clearInputFile${rand}">
	<div  style="padding:10px 10px;">
		<form id="exportForm${rand}" method="post" enctype="multipart/form-data">
			<table>
				<tr>
					<td colspan="3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请先选择组织架构，再导出！</td>
				</tr>
				<tr>
					<td width="120" align="center">部门:</td>
					<td id="td_input_${rand}">
						<input id="export_org_${rand}" class="easyui-combotree" data-options="url:'hrFlow/auth/orgs.json',method:'get',required:true" style="width:330px;">
					</td>
					<td>
						<a id="export_btn-${rand}" href="javascript:void(0)" data-options="iconCls:'icon-down_load'" class="easyui-linkbutton">导出</a>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>
<div id="exportWin-buttons${rand}">
   	<a id="exportWinCloseBtn${rand}" href="javascript:void(0)" data-options="iconCls:'icon-cancel'" class="easyui-linkbutton">关闭</a>
</div>

<script type="text/javascript">
$(function(){
	
	var importWin = $('#importWin-${rand}');
	var exportWin = $('#exportWin-${rand}');
	
	$('#busJobPreparaGrid-${rand}').datagrid({
	  fitColumns:true,
	  url:'busJobPrepara/loadBusJobPreparation.json',
	  columns:[[
		{field:'id',title:'编号',checkbox:true,width:150},
		{field:'orgId',title:'部门ID',width:150,hidden:true},
		{field:'orgName',title:'部门名称',width:100},
		{field:'positions',title:'岗位名称',width:100},
		{field:'grade',title:'职级',width:100},
		{field:'plait',title:'编制',width:100},
		/* {field:'existNum',title:'现在人数',width:100}, */
		{field:'rootOrgId',title:'所属公司ID',width:100,hidden:true},
		{field:'rootOrgName',title:'所属公司名称',width:100},
		{field:'salaryRange',title:'薪资范围',width:120}
	  ]],
	  nowrap: true,
	  pagination:true,
	  pageNumber:1,
	  pageSize:20,
	  fit : true,
	  singleSelect:true,
	  border : true,
	  rownumbers:true,
	  toolbar: [{
		text:'新增',
		iconCls: 'icon-add',
		handler:addJobPrepara${rand}
	  },'-',{
		text:'编辑',
		iconCls: 'icon-edit',
		handler:editDictionary${rand}
	  },'-',{
		text:'删除',
		iconCls: 'icon-remove',
		handler:deleteBusJobPrepara${rand}
	  },'-',{
		text:'导入',
		iconCls: 'icon-retrieve',
		handler:showImportWin${rand}
	  },'-',{
		text:'导出',
		iconCls: 'icon-down_load',
		handler:showExportWin${rand}
	  }]
	});
	
	
	//add
	function addJobPrepara${rand}(){
		createDialog();
	}
	
	//edit
	function editDictionary${rand}(){
		var row = $('#busJobPreparaGrid-${rand}').datagrid('getSelected');
	  if (row){
		createDialog();
		
		var orgTree =  $('#input_org_${rand}');
		$('#input_id_${rand}').val(row.id);
		orgTree.combotree('setValue',row.orgId);
		orgTree.combotree('setText',row.orgName);
		$('#input_positions_${rand}').val(row.positions);
		$('#input_grade_${rand}').val(row.grade);
		$('#input_plait_${rand}').val(row.plait);
		/* $('#input_existNum_${rand}').val(row.existNum); */
		$('#input_salaryRange_${rand}').val(row.salaryRange);
		//valiadate
		$("#addJobPrepareForm${rand}").form('validate');
		//set title
		$('#jobPrepareDialog${rand}').dialog('setTitle', '编辑岗位编制');
	  } else {
		$.messager.show({
		  title: '信息提示',
		  msg: "请选择记录！"
		});
	  }
	}
	
	function createDialog(){
		var win = $('#jobPrepareDialog${rand}').dialog({
			title: '新增岗位编制',
			collapsible:false,
			width: 800,
			height: 500,
			maximizable:true,
			resizable:true,
			closed: false,
			cache: false,
			modal: true,
			buttons:[{
				text : '保存',    
				iconCls:'icon-save',    
				handler:function(){
					saveJobPrepara${rand}();
				}    
			},{    
				text:'重置',
				iconCls:'icon-undo',    
				handler:function(){
					$('#addJobPrepareForm${rand}').form('clear');
				}    
			}],
			onClose : function(){
				$('#addJobPrepareForm${rand}').form('clear');
			}
		});
		return win;
	}
	
	//delete
	function deleteBusJobPrepara${rand}(){
		var row = $('#busJobPreparaGrid-${rand}').datagrid('getSelected');
		 if (row){
			$.messager.confirm('删除提示','您确定要删除该条记录吗?',function(r){
				if (r){
					$.post('busJobPrepara/deleteJobPrepara.json',{id:row.id},function(result){
						$.messager.show({
							title: '信息提示', msg: result.msg
				        });
						if (result.success){
							busJobPreparaGridRefresh();
						} 
				  	},'json');
				}
			});
		} else {
			$.messager.show({
			  title: '信息提示',
			  msg: "请选择记录！"
			});
		}
	}
	
	//refresh
	function busJobPreparaGridRefresh(){
		$('#busJobPreparaGrid-${rand}').datagrid('reload');
	}
	
	//save
	function saveJobPrepara${rand}(){
		var result = $("#addJobPrepareForm${rand}").form('validate');
		//验证现有人数不能大于编制人数
		var plaitNum = $('#input_plait_${rand}').val();
		/* var existNum = $('#input_existNum_${rand}').val(); */
		/* if (plaitNum != null && plaitNum.length > 0 && existNum != null && existNum) {
			if (parseInt(existNum) > parseInt(plaitNum)) {
				$.messager.alert('信息提示','现有人数不能大于编制人数!','warning');
				return;
			}
		} */
		if (result) {
			//tree value
			var orgTree =  $('#input_org_${rand}');
			var orgId = orgTree.combotree('getValue');
			var orgName = orgTree.combotree('getText');
			
			$.post('busJobPrepara/saveBusJobPrepare.json',
				{
					id:$('#input_id_${rand}').val(),
					orgId:orgId,
					orgName:orgName,
					positions:$('#input_positions_${rand}').val(),
					grade:$('#input_grade_${rand}').val(),
					plait:$('#input_plait_${rand}').val(),
					/* existNum:$('#input_existNum_${rand}').val(), */
					salaryRange:$('#input_salaryRange_${rand}').val()
				},
				function(result){
					$.messager.show({
						title: '信息提示', msg: result.msg
					});
					if (result.success){
						$('#jobPrepareDialog${rand}').dialog('close');
			           	busJobPreparaGridRefresh();
					} 
			},'json');
		}
	}
	
	//按钮绑定事件
	$('#search_btn-${rand}').bind('click', function(){
	    var orgId = $('#orgTree-${rand}').combotree('getValue');
		var positions = $('#positions-${rand}').val();
		var grade = $('#grade-${rand}').val();
		
	
		$('#busJobPreparaGrid-${rand}').datagrid('reload',
			{
				orgId:orgId,
				positions:positions,
				grade:grade
			});
	});
	
	$('#reset_btn-${rand}').bind('click', function(){
	    $('#orgTree-${rand}').combotree('clear');
		$('#positions-${rand}').val('');
		$('#grade-${rand}').val('');
		
		
	});
	
	//import
	function showImportWin${rand}(){
		importWin.dialog('open');	
	}
	
	function showExportWin${rand}(){
		exportWin.dialog('open');
	}
	
	//btn
	$('#importWinCloseBtn${rand}').bind('click', function(){
		importWin.dialog('close');
	});
	
	//下载
	$('#download_btn-${rand}').bind('click', function(){
		downLoadTemplate('download.job.preparation.name');
	});
	
	$('#upload_btn-${rand}').bind('click', function(){
		 $.messager.progress();
	    $('#importForm${rand}').form('submit',{
				url: "busJobPrepara/importBusJobPrepara.html",
			    onSubmit: function(){
			    	var validateResult = $(this).form('validate');
			    	if (!validateResult) {
			    		$.messager.progress('close');
						return false;
			    	} else {
			    		return true;
			    	}
			    },
			    success: function(result){
			    	$.messager.progress('close');
			    	
			        var result = eval('('+result+')');
			        
			        if (!result.success){
			            $('#showErrorWin-${rand}').window({
			            	title:'错误信息提示',
						    width:600,
						    height:400,
						    collapsible:false,
						    minimizable:false,
						    modal:true,
						    iconCls:'icon-monitor',
						    content:result.msg
						});
			        } else {
			        	importWin.dialog('close');
			            $.messager.show({
			                title: '信息提示',
			                msg: result.msg
			            });
			            busJobPreparaGridRefresh();
			        }
			    }
		});
	});
	
	//export
	//btn
	$('#exportWinCloseBtn${rand}').bind('click', function(){
		exportWin.dialog('close');
	});
	
	//导出
	$('#export_btn-${rand}').bind('click', function(){
		//表单提交
		var validateResult = $(this).form('validate');
		if (!validateResult) {
			$.messager.progress('close');
			return;
		}
		var exportOrgId = $('#export_org_${rand}').combotree('getValue');
		//form
		var form = $("<form>");
	   	form.attr('style', 'display:none');
	   	form.attr('method', 'post');
	    form.attr('action', 'busJobPrepara/exportBusJobPrepara.html');
	
	    var orgIdInput = $('<input>');
	   	orgIdInput.attr('type', 'hidden');
	   	orgIdInput.attr('name', 'exportOrgId');
	    orgIdInput.attr('value', exportOrgId);
	
	   	$('body').append(form);
	    form.append(orgIdInput);
	        
	    form.submit();
	    form.remove();
	});
});

function clearInputFile${rand}(){
	//清空文件框
	$("#upload_file-${rand}").remove(); //移除原来的
	
    var newFileInput = '<input id="upload_file-${rand}" class="easyui-validatebox" data-options="required:true" type="file" name="file" style="width:300px;"/>';
   	$('#td_input_${rand}').html(newFileInput); //添加新的
    
    $.parser.parse('#td_input_${rand}');
    
}
</script>
<#include "/common/foot.ftl">