<#include "/common/head.ftl">
<div class="easyui-layout" data-options="fit:true">
<div data-options="region:'north',border:false,minHeight:45," style="padding:5px 0px 5px 0px">
		<div style="padding:5px;height:35px;background:#fafafa;border:1px solid #ccc">
		     <table border="0" >
		 			<tr>
		   				<td align="right" style="white-space:nowrap">名称：</td>
		   				<td> 
    			 			<input id="name-${rand}" type="text" class="easyui-textbox" style="width: 260px" name="name" />
		   				</td>
		   				<td align="right" style="white-space:nowrap; padding-left:12px;">描述：</td>
		   				<td width="200">
		   				 	<input id="description-${rand}" style="width:260px;" class="easyui-textbox" type="text" name="description" ></input>
		   				</td>
		   				<td width="200"  align="left" style="white-space:nowrap;padding-left:12px;">
		   					<a href="javascript:void(0)" id="search_btn-${rand}" class="easyui-linkbutton" iconCls="icon-search">查询</a>
		   					<a href="javascript:void(0)" id="reset_btn-${rand}" class="easyui-linkbutton" iconCls="icon-reload">重置</a>
		   				</td>
		 			</tr>
			</table>
		  </div>
	 </div>
	
	<div data-options="region:'center',border:false" style="padding:0px 0px 0px 0px;">
		<div id="reportRoleGrid-${rand}"></div>
	</div>
	<div data-options="region:'east',border:true,split:true,width:300" style="padding:0px 0px 0px 0px;">
		<ul id="showRoleTree${rand}" />
	</div>
 </div>
<!-- Role Win -->
<div id="reportRoleWin${rand}" class="easyui-dialog" data-options="title:'新增流程角色',collapsible:false,
	width:800,height:500,maximizable:true,resizable:true,closed:true,
	cache:false,modal:true,buttons: '#reportRoleWin-buttons${rand}'">
	<div  style="padding:10px 10px;">
		<form id="reportRoleForm${rand}">
			<table>
				<tr>
					<td width="80" align="right" >名称:</td>
					<td >
						<input id="id${rand}" type="hidden" name="id" />
						<input id="name${rand}" class="easyui-validatebox" data-options="required:true" type="text" name="name" style="width:500px;"/>
					</td>
				</tr>
				<tr>
					<td width="80" align="right" >描述:</td>
					<td >
						<textarea id="description${rand}" name="description" style="width: 500px; height: 50px" class="easyui-validatebox" ></textarea>
					</td>
				</tr>
				<tr>
					<td width="80" align="right" >平台流程:</td>
					<td >
						<select id="authProTree${rand}" multiple class="easyui-combotree" name="roleResources"
							data-options="required:true,checkbox:true,lines:true,url:'bpmRole/bpmRoleTree.json',method:'get',panelHeight:300" 
							style="width:505px;">
						</select>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>
<div id="reportRoleWin-buttons${rand}">
   <a id="reportRoleWinSaveBtn${rand}" href="javascript:void(0)" data-options="iconCls:'icon-ok'" class="easyui-linkbutton">保存</a>
   <a id="reportRoleWinCloseBtn${rand}" href="javascript:void(0)" data-options="iconCls:'icon-cancel'" class="easyui-linkbutton">关闭</a>
</div>

<!-- Set Role Win -->
<div id="orgWin-${rand}" class="easyui-dialog" title="组织结构包含的用户"
	style="width: 1000px; height: 600px; padding: 5px"
	data-options="modal:true, closed:true,iconCls:'icon-process',
				buttons: '#orgWin-buttons${rand}'">
	<div class="easyui-layout" data-options="fit:true">
		<div
			data-options="region:'west',iconCls:'icon-process',title:'组织机构',border:true,split:true,minHeight:200,width:300"
			style="padding: 5px 0px 5px 0px">
			<ul id="orgs${rand}" />
		</div>
		
		<div data-options="region:'center',iconCls:'icon-task',title:'系统用户',border:true,split:true"
			style="padding: 0px 0px 0px 0px;">
			<table id="users${rand}"></table>
		</div>
		<div data-options="region:'south',iconCls:'icon-task',title:'角色列表',border:true,split:true,height:200,minHeight:120,"
			style="padding: 0px 0px 0px 0px;">
			<table id="selectReportRoleGrid-${rand}"></table>
		</div>
	</div>
</div>
<div id="orgWin-buttons${rand}">
	<a id="orgWinSaveBtn${rand}" href="javascript:void(0)" data-options="iconCls:'icon-save'" class="easyui-linkbutton">保存人员分配</a>
   	<a id="orgWinCloseBtn${rand}" href="javascript:void(0)" data-options="iconCls:'icon-cancel'" class="easyui-linkbutton">关闭</a>
</div>

<div id="userGridToolBar${rand}" style="padding:2px 5px;">
	员工账号: <input id="userAccount${rand}" class="easyui-validatebox" style="width:150px"/>
	员工姓名: <input id="userName${rand}" class="easyui-validatebox" style="width:150px"/>
	<a id="userGridSearchBtn${rand}" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true" iconCls="icon-search">查询</a>
</div>

<div id="importWin-buttons${rand}">
   	<a id="importWinCloseBtn${rand}" href="javascript:void(0)" data-options="iconCls:'icon-cancel'" class="easyui-linkbutton">关闭</a>
</div>

<!-- show error win -->
<div id="showErrorWin-${rand}" style="padding:5px 5px 5px 5px"></div>

<script type="text/javascript">
$(function(){
	var reportRoleWin = $('#reportRoleWin${rand}');
	var reportRoleForm = $('#reportRoleForm${rand}');
	
	var input_id = $('#id${rand}');
	var input_name = $('#name${rand}');
	var input_description = $('#description${rand}');
	var input_authProTree = $('#authProTree${rand}');
	
	var importWin = $('#importWin-${rand}');

	$('#reportRoleGrid-${rand}').datagrid({
	  fitColumns:false,
	  url:'reportRole/loadAllReportRole.json',
	  columns:[[
		{field:'id',title:'编号',checkbox:true,width:150},
		{field:'name',title:'名称',width:200},
		{field:'description',title:'描述',width:300},
		{field:'relationDetail',title:'关系值',width:800,hidden:true},
	  ]],
	  nowrap: true,
	  pagination:true,
	  pageNumber:1,
	  pageSize:20,
	  fit : true,
	  singleSelect:true,
	  border : true,
	  rownumbers:true,
	  onCheck : function(index,row){
	 	showRoleTree.tree('reload');
	  },
	  toolbar: [{
		text : '新增',
		iconCls: 'icon-add',
		handler:addReportRole${rand}
	  },'-',{
		text:'编辑',
		iconCls: 'icon-edit',
		handler:editReportRole${rand}
	  },'-',{
		text:'删除',
		iconCls: 'icon-remove',
		handler:deleteReportRole${rand}
	  },'-',{
		text:'人员分配',
		iconCls: 'icon-prodefine',
		handler:setReportRole${rand}
	  }]
	});
	
	//add
	function addReportRole${rand}(){
	 	reportRoleWin.dialog('open');
	 	clearReportRoleWinValue${rand}();
	}
	
	//btn handle--Save
	$('#reportRoleWinSaveBtn${rand}').bind('click',function(){
		var proTree = $('#authProTree${rand}').combotree('tree');
		var nodes = proTree.tree('getChecked');
		
		var roleResources = "";
			
		for (var i=0;i<nodes.length;i++) {
			if (proTree.tree('isLeaf',nodes[i].target)) {
				roleResources += nodes[i].id + ',';
			}
		}
		if (reportRoleForm.form('validate')) {
			$.post('reportRole/saveReportRole.html',
			{
				id:$('#id${rand}').val(),
				name:$('#name${rand}').val(),
				description:$('#description${rand}').val(),
				roleResources:roleResources
			},
			function(result){
				clearReportRoleWinValue${rand}();
				$.messager.show({
					title: '信息提示', msg: result.msg
				});
				if (result.success){
					$('#reportRoleWin${rand}').dialog('close');
					$('#reportRoleGrid-${rand}').datagrid('reload');
				} 
			},'json');
		}
	})
	
	$('#reportRoleWinCloseBtn${rand}').bind('click',function(){
		reportRoleWin.dialog('close');
	})
	

	//edit
	function editReportRole${rand}(){
	  clearReportRoleWinValue${rand}();
	  //回填值
	  var row = $('#reportRoleGrid-${rand}').datagrid('getSelected');
		 if (row){
		 	//回填值
			input_id.val(row.id);
			input_name.val(row.name);
			input_description.val(row.description);
			
			var relationDetail = row.relationDetail;
			input_authProTree.combotree('setValues', relationDetail.split(","));
			reportRoleWin.dialog('setTitle', '编辑流程角色');
			reportRoleWin.dialog('open');
		} else {
			$.messager.show({
			  title: '信息提示',
			  msg: "请选择记录！"
			});
		}
	}
	
	//delete
	function deleteReportRole${rand}(){
		 var row = $('#reportRoleGrid-${rand}').datagrid('getSelected');
		 if (row){
			$.messager.confirm('删除提示','该操作将会删除与角色关联的所有数据，您确定要删除该流程角色吗?',function(r){
				if (r){
					$.post('reportRole/deleteReportRole.json',{id:row.id},function(result){
						$.messager.show({
							title: '信息提示', msg: result.msg
				        });
						if (result.success){
							$('#reportRoleGrid-${rand}').datagrid('reload');
						} 
				  	},'json');
				}
			});
		} else {
			$.messager.show({
			  title: '信息提示',
			  msg: "请选择记录！"
			});
		}
	}
	//refresh
	function refreshReportRole${rand}(){
		$('#reportRoleGrid-${rand}').datagrid('reload');
	}
	
	//按钮绑定事件
	$('#search_btn-${rand}').bind('click', function(){
		var description = $('#description-${rand}').val();
		var name = $('#name-${rand}').val();
		
		$('#reportRoleGrid-${rand}').datagrid('reload',
			{
				description:description,
				name:name
			});
	});
	
	//Search Reset
	$('#reset_btn-${rand}').bind('click', function(){
		$('#name-${rand}').val('');
		$('#description-${rand}').val('');
	});
	
	//clear form value
	function clearReportRoleWinValue${rand}(){
		//清空编辑框中的值
		input_id.val('');
		input_name.val('');
		input_description.val('');
		input_authProTree.combotree('clear');
	}
	
	//set role
	function setReportRole${rand}(){
		$('#orgWin-${rand}').dialog('open');
		//role grid reload
		$('#selectReportRoleGrid-${rand}').datagrid('reload');
	}
	
	var orgs = $('#orgs${rand}');
	var currentOrgId = 0;
	//init tree
	orgs.tree({
			url: 'hrFlow/auth/orgs.json',
			method:'get',
			required:true,
		 	lines:true,
			panelWidth:300,
			panelHeight:280,
			onClick:function(node){
				currentOrgId = node.id;		
				$('#users${rand}').datagrid('reload',{id:currentOrgId});
			}
	});
	
	$('#users${rand}').datagrid({
		fitColumns:false,
		url:'reportRole/users.json',
		queryParams:{
			id:currentOrgId
		},
		columns:[[
			{field:'id',checkbox:true},
			{field:'account',title:'帐号',width:150},
			{field:'name',title:'姓名',width:150},
			{field:'roles',title:'角色名称',width:150}
		]],
		nowrap: true,
		fit : true,
		border : false,
		pagination:false,
		pageNumber : 1,
		pageSize : 20,
		rownumbers:true,
		singleSelect:false,
		toolbar:'#userGridToolBar${rand}'
	});
	
	$('#selectReportRoleGrid-${rand}').datagrid({
	  fit:true,
	  fitColumns:false,
	  url:'reportRole/loadAllReportRole.json',
	  columns:[[
		{field:'id',title:'编号',checkbox:true,width:150},
		{field:'name',title:'名称',width:300},
		{field:'description',title:'描述',width:300}
	  ]],
	  border:false,
	  nowrap: true,
	  pagination:true,
	  pageNumber:1,
	  pageSize:20,
	  fit : true,
	  singleSelect:false,
	  rownumbers:true
	});
	
	//Close Btn Click
	$('#orgWinCloseBtn${rand}').bind('click', function(){
		$('#orgWin-${rand}').dialog('close');	
	});
	
	$('#orgWinSaveBtn${rand}').bind('click', function(){
		saveUserRole${rand}();
	});
	
	//Save Data
	function saveUserRole${rand}(){
		var userGrid = $('#users${rand}');
		var roleGrid = $('#selectReportRoleGrid-${rand}');
		
		var userRows = userGrid.datagrid('getChecked');
		var roleRows = roleGrid.datagrid('getChecked');
		
		if (userRows == null || userRows.length <= 0) {
			 $.messager.alert('信息提示','请从系统用户列表选取用户记录!','warning');
			 return;
		}
		if (roleRows == null || roleRows.length <= 0) {
			$.messager.alert('信息提示','请从角色列表选选取用户记录!','warning');
			 return;
		}
		
		var userIds = "";
		var roleIds = "";
		
		for (var i=0;i<userRows.length;i++) {
			userIds += userRows[i].id + ',';
		}
		
		for (var i=0;i<roleRows.length;i++) {
			roleIds += roleRows[i].id + ',';
		}
		
		$.post('reportRole/saveUserRole.json',
			{
				userIds:userIds,
				roleIds:roleIds
			},function(result){
				$.messager.show({
					title: '信息提示', msg: result.msg
				});
				if (result.success){
					userGrid.datagrid('reload');
					roleGrid.datagrid('reload');
				} 
		},'json');
	}
	
	//show role tree
	var showRoleTree = $('#showRoleTree${rand}');
	var currentOrgId = 0;
	//init tree
	showRoleTree.tree({
			url: 'bpmRole/bpmRoleTree.json',
			method:'get',
			checkbox:true,
			required:true,
		 	lines:true,
			panelWidth:300,
			panelHeight:280,
			onLoadSuccess:function(){
				 var row = $('#reportRoleGrid-${rand}').datagrid('getSelected');
				 if (row) {
				 	//回填值
					var relationDetail = row.relationDetail;
					var relationArr = relationDetail.split(",");
					for (var i=0;i<relationArr.length;i++) {
						var node = showRoleTree.tree('find', relationArr[i]);
						if (node != null) {
							showRoleTree.tree('check', node.target);
						}
					}
				 }
			}
	});
	
	//user search
	$('#userGridSearchBtn${rand}').bind('click', function(){
		var userAccount = $('#userAccount${rand}').val();
		var userName = $('#userName${rand}').val();
		$('#users${rand}').datagrid('reload',
			{
				userAccount:userAccount,
				userName:userName
			});
	});
	
	//import
	function showImportWin${rand}(){
		importWin.dialog('open');	
	}
	
	//btn
	$('#importWinCloseBtn${rand}').bind('click', function(){
		importWin.dialog('close');
	});
	//下载
	$('#download_btn-${rand}').bind('click', function(){
		downLoadTemplate('download.personnel.assignment.name');
	});
	
	$('#upload_btn-${rand}').bind('click', function(){
		 $.messager.progress();
	    $('#importForm${rand}').form('submit',{
				url: "reportRole/importUserAssignment.html",
			    onSubmit: function(){
			    	var validateResult = $(this).form('validate');
			    	if (!validateResult) {
			    		$.messager.progress('close');
						return false;
			    	} else {
			    		return true;
			    	}
			    },
			    success: function(result){
			    	$.messager.progress('close');
			    	
			        var result = eval('('+result+')');
			        
			        if (!result.success){
			            $('#showErrorWin-${rand}').window({
			            	title:'错误信息提示',
						    width:600,
						    height:400,
						    collapsible:false,
						    minimizable:false,
						    modal:true,
						    iconCls:'icon-monitor',
						    content:result.msg
						});
			        } else {
			        	importWin.dialog('close');
			            $.messager.show({
			                title: '信息提示',
			                msg: result.msg
			            });
			        }
			    }
		});
	});
});

function clearInputFile${rand}(){
	//清空文件框
	$("#upload_file-${rand}").remove(); //移除原来的
	
    var newFileInput = '<input id="upload_file-${rand}" class="easyui-validatebox" data-options="required:true" type="file" name="file" style="width:300px;"/>';
   	$('#td_input_${rand}').html(newFileInput); //添加新的
    
    $.parser.parse('#td_input_${rand}');
    
}

</script>
<#include "/common/foot.ftl">