<#assign title="流程">
<#include "/common/head.ftl">
 <div class="easyui-layout" data-options="fit:true">
 	<div data-options="region:'north',border:false,minHeight:45," style="padding:5px 0px 5px 0px">
		<div style="padding:5px;height:35px;background:#fafafa;border:1px solid #ccc">
		    <table border="0" >
		 			<tr>
		   				<td align="right" style="white-space:nowrap">采购申请编号：</td>
		    			<td width="200"> 
		    			 	<input id="preqNo-${rand}" style="width:200px;" class="easyui-textbox" type="text" name="preqNo" data-options=""></input>
		   				</td>
		    			<td align="right" style="white-space:nowrap; padding-left:12px;">采购申请行号：</td>
		   				<td width="200">
		   				 	<input id="preqItem-${rand}" style="width:200px;" class="easyui-validatebox" type="text" name="preqItem" data-options="min:0,validType:'number',invalidMessage:'请输入数字'"></input>
		   				</td>
		   				<td align="right" style="white-space:nowrap;padding-left:12px;">状态：</td>
		    			<td width="200">
		    			 <input id="status-${rand}" style="width:200px;" class="easyui-combobox" name="status" value="" data-options="valueField:'id',textField:'name',data:[{id:'',name:'请选择'},{id:1,name:'审核中'},{id:2,name:'已审核'},{id:3,name:'待修改'}],panelHeight:'auto',editable:false"/>
		   				</td>
		   				<td width="200"  align="left" style="white-space:nowrap;padding-left:12px;">
		   					<a href="javascript:void(0)" id="search_btn-${rand}" class="easyui-linkbutton" iconCls="icon-search">查询</a>
		   					<a href="javascript:void(0)" id="reset_btn-${rand}" class="easyui-linkbutton" iconCls="icon-reload">重置</a>
		   				</td>
		 			</tr>
			</table>
		  </div>
	 </div>
	
	<div data-options="region:'center',border:false" style="padding:0px 0px 0px 0px;">
		<div id="involvedProcessGrid-${rand}"></div>
	</div>
 </div>

<script type="text/javascript">
$('#involvedProcessGrid-${rand}').datagrid({
  fitColumns:false,
  url:'sapspace/searchProcess.json',
  columns:[[
  	{field:'procInstId',title:'流程实例编号',width:80},
  	{field:'preqNo',title:'采购申请编号', width:100},
	{field:'preqItem',title:'采购申请行号 ',width:100},
	{field:'docType',title:'凭证类型',width:100},
	{field:'createdBy',title:'创建人',width:150},
	{field:'preqName',title:'请求者姓名',width:150},
	{field:'preqDate',title:'请求日期',width:150},
	{field:'shortText',title:'短文本 ',width:150},
	{field:'material',title:'物料号 ',width:150},
	{field:'plant',title:'工厂',width:150},
	{field:'storeLoc',title:'库存地点',width:150},
	{field:'trackingno',title:'需求跟踪号',width:150},
	{field:'matGrp',title:'物料组 ',width:150},
	{field:'quantity',title:'采购申请数量',width:150},
	{field:'unit',title:'采购申请计量单位',width:150},
	{field:'delivDate',title:'项目交货日期',width:150},
	{field:'relDate',title:'采购申请批准日期',width:150},
	{field:'grPrTime',title:'以天计的收货处理时间',width:150},
	{field:'cAmtBapi',title:'采购需求中的价格',width:150},
	{field:'priceUnit',title:'价格单位 ',width:150},
	{field:'itemCat',title:'采购凭证中的项目类别',width:150},
	{field:'acctasscat',title:'科目分配类别',width:150},
	{field:'status',title:'单据状态',width:150,
		formatter: function(value,row,index){
			if (row.status == 0){
				return "待审核";
			} else if(row.status == 1){
				return "审核中";
			} else if(row.status == 2){
				return "已审核";
			} else if(row.status == 3){
				return "待修改";
			} 
		}
	}
  ]],
  view: detailview,
   detailFormatter:function(index,row){
		return '<div style="padding:2px"><table class="ddv"></table></div>';
	},
	onExpandRow: function(index,row){
		var ddv = $(this).datagrid('getRowDetail',index).find('table.ddv');
		ddv.datagrid({
			url:'sapspace/loadAttachments.json?preqNo='+row.preqNo+'&preqItem='+row.preqItem,
			fitColumns:false,
			singleSelect:true,
			rownumbers:true,
			loadMsg:'正在加载,请等待...',
			height:'auto',
			columns:[[
				{field:'fileNo',title:'文件编号',width:100},
				{field:'fileName',title:'文件名',width:200},
				{field:'operate',title:'操作',width:120,
					formatter: function(value,row,index){
						var returnStr = "<a href='${file_download_url}"+ row.fileNo +"'>下载</a>"
						return returnStr;
					}
				}
			]],
			onResize:function(){
				$('#involvedProcessGrid-${rand}').datagrid('fixDetailRowHeight',index);
			},
			onLoadSuccess:function(){
				setTimeout(function(){
					$('#involvedProcessGrid-${rand}').datagrid('fixDetailRowHeight',index);
				},0);
			}
		});
		$('#involvedProcessGrid-${rand}').datagrid('fixDetailRowHeight',index);
	},
  nowrap: true,       
  fit : true,
  border : true,
  pagination:true,
  singleSelect:false,
  rownumbers:true,
  pageNumber : 1,
  pageSize : 20,
  toolbar: [{
	text : '流程流转详情',
	iconCls: 'icon-history',
	handler: viewHisProcss${rand}
  }]
});

//查看历史
function viewHisProcss${rand}(){
  var row = $('#involvedProcessGrid-${rand}').datagrid('getSelections');
  if (row.length > 0){
  	if (row.length == 1) {
  		viewHisProcess${rand}(row[0].procInstId);
  	} else {
  		$.messager.alert('信息提示','请选择一条记录查看详情!','info');
  	}
  } else {
  	$.messager.show({
	  title: '信息提示',
	  msg: "请选择列表中的一条记录！"
	});
  }
}

function viewHisProcess${rand}(processInstanceId){
	$('<div id="hisWin-${rand}"></div>').dialog({
	    title: '流程流转详情',
	    width: 1000,
	    height: 550,
	    closed: false,
	    cache: false,
	    //fit:true,
	    //maximizable:true,
	    href: 'sapspace/viewHistory.html?processInstanceId=' + processInstanceId,
	    modal: true,
	    resizable:true,
	    onClose: function(){
	    	$(this).dialog('destroy');
	    }
	});
}

//按钮绑定事件
$('#search_btn-${rand}').bind('click', function(){
     search${rand}();
});

$('#reset_btn-${rand}').bind('click', function(){
     reset${rand}();
});

function search${rand}(){
	var preqNo = $('#preqNo-${rand}').val();
	var preqItem = $('#preqItem-${rand}').val();
	var status = $('#status-${rand}').combobox('getValue');
	$('#involvedProcessGrid-${rand}').datagrid('reload',{preqNo:preqNo,preqItem:preqItem,status:status});
}

function reset${rand}(){
	$('#preqNo-${rand}').val('');
	$('#preqItem-${rand}').val('');
	$('#status-${rand}').combobox('reset');
}



</script>
<#include "/common/foot.ftl">